html,
body {
  background-image: radial-gradient(
    closest-side,
    rgb(188, 143, 156),
    rgba(247, 192, 192, 0.342),
    rgb(182, 131, 144)
  );
}

.title {
  text-align: center;
  font-family: Great Vibes;
  font-size: 65px;
  font-style: oblique;
  font-weight: bold;
  color: rgb(118, 38, 104);
  text-shadow: 2px 4px white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  padding: 5rem;
  text-align: center;
}
